<section>
  <div class="page-header">
    <h4>{{'InnovationIdea' | translate }}
      <a class="btn btn-primary pull-right" data-ui-sref="admin.wf_innovation_ideas.create">
        <i class="glyphicon glyphicon-plus"></i>
      </a>
    </h4>
    
  </div>
  <div class="list-group">
    <a ng-repeat="wf_innovation_idea in vm.wf_innovation_ideas" ui-sref="wf_innovation_ideas.view({ wf_innovation_ideaId: wf_innovation_idea._id })" class="list-group-item">
      <small class="list-group-item-text">
        {{'InitiatedDate' | translate}}
        <span ng-bind="wf_innovation_idea.created | date:'mediumDate'"></span>
        {{'InitiatedBy' | translate}}
        <span ng-if="wf_innovation_idea.user" ng-bind="wf_innovation_idea.user.displayName"></span>
        <span ng-if="!wf_innovation_idea.user">{{'DeletedUser' | translate}}</span>
      </small>
      <div class="list-group-item-text docuflow-list-group-header">
        {{'DocumentStatus' | translate}}
        <span ng-bind="wf_innovation_idea.status | translate"></span>
      </div>
    </a>
  </div>
</section>
