<section>
  <div class="page-header">
    <h4>
      {{'ABC' | translate}}
      <a class="btn btn-primary pull-right" data-ui-sref="admin.m_abcs.create">
        <i class="glyphicon glyphicon-plus"></i>
      </a>
    </h4>
  </div>
  <div class="list-group">
    <a data-ng-repeat="m_abc in vm.m_abcs" data-ui-sref="admin.m_abcs.edit({m_abcId: m_abc._id})" class="list-group-item">
      <small class="list-group-item-text">
        {{'Created'|translate}}
        <span data-ng-bind="m_abc.created | date:'mediumDate'"></span>
        {{'CreatedBy'|translate}}
        <span ng-if="m_abc.user" ng-bind="m_abc.user.displayName"></span>
        <span ng-if="!m_abc.user">{{'DeletedUser'}}</span>
      </small>
      <h4 class="list-group-item-heading" data-ng-bind="m_abc.title"></h4>
      <p class="list-group-item-text" data-ng-bind="m_abc.content"></p>
    </a>
  </div>
  <div class="alert alert-warning text-center" data-ng-if="m_abcs.$resolved && !m_abcs.length">
     <a data-ui-sref="admin.m_abcs.create">{{'Create'|translate}}</a>?
  </div>
</section>
