
<section style="font-size:12px">
  <!--Start Carousel-->
  <div id="myCarousel" class="carousel slide" style="margin-top: 15px; margin-bottom: 15px;">
    <div class="carousel-inner">
      <div class="item active"> <img src="img/featured/1.jpg" alt="">
        <div class="carousel-caption">
          <h4>First Thumbnail label</h4>
          <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
        </div>
      </div>
      <div class="item"> <img src="img/featured/2.jpg" alt="">
        <div class="carousel-caption">
          <h4>Second Thumbnail label</h4>
          <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
        </div>
      </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" data-slide="prev"><img src="img/arrow.png" alt=""></a> <a class="right carousel-control" href="#myCarousel" data-slide="next"><img src="img/arrow2.png" alt=""></a> 
  </div>
  <div class="row">
    <div class="col-xs-4">
      <div class="panel panel-default">

    
        <div class="panel-heading">
        <h4 class="panel-title"><a class="">新闻</a> | <a>业界新闻</a><span style="float: right"><a>更多</a></span></h4>
        </div>

        
        <ul class="list-group">
            <li class="list-group-item"><a>六院359厂开展交通安全宣传日活动</a></li>
            <li class="list-group-item"><a>六院8610厂道德讲堂传承航天精神</a></li>
            <li class="list-group-item"><a>人过花甲不服老 发挥余热献航天</a></li>
            <li class="list-group-item"><a>六院41所青年创新小讲堂让创新思维集中迸发</a></li>
            <li class="list-group-item"><a>六院落实从严治党责任 彰显示范带头作用</a></li>
          </ul>
      </div>
    </div>
    <div class="col-xs-4">
      <div class="panel panel-default">

    
        <div class="panel-heading">
        <h4 class="panel-title"><a class="success">文章</a><span style="float: right"><a>更多</a></span></h4>
        </div>
        <ul class="list-group">
            <li class="list-group-item"> <a>六院359厂开展交通安全宣传日活动</a><span style="float:right">12/3/2016</span></li>
            <li class="list-group-item"><a>六院8610厂道德讲堂传承航天精神</a><span style="float:right">15/1/2016</span></li>
            <li class="list-group-item"><a>人过花甲不服老 发挥余热献航天</a><span style="float:right">12/2/2016</span></li>
            <li class="list-group-item"><a>六院41所青年创新小讲堂让创新思维集中迸发</a><span style="float:right">19/3/2016</span></li>
            <li class="list-group-item"><a>六院落实从严治党责任 彰显示范带头作用</a><span style="float:right">12/5/2016</span></li>
        </ul>
            
      </div>
    </div>
    </div>
  </div>
    
</section>
