<div>
  <h3 class="col-xs-12 text-center">{{'Orsignupusingyouremail' | translate}}</h3>
  <div class="col-xs-offset-2 col-xs-8 col-md-offset-4 col-md-4">
    <form name="vm.userForm" ng-submit="vm.signup(vm.userForm.$valid)" class="signin" novalidate autocomplete="off">
      <fieldset>
        <div class="form-group" show-errors>
          <label for="firstName">{{'Firstname' | translate}}</label>
          <input type="text" id="firstName" name="firstName" class="form-control" ng-model="vm.credentials.firstName" placeholder="" required>
          <div ng-messages="vm.userForm.firstName.$error" role="alert">
            <p class="help-block error-text" ng-message="required">{{'Required' | translate}}</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label for="lastName">{{'Lastname' | translate}}</label>
          <input type="text" id="lastName" name="lastName" class="form-control" ng-model="vm.credentials.lastName" placeholder="" required>
          <div ng-messages="vm.userForm.lastName.$error" role="alert">
            <p class="help-block error-text" ng-message="required">{{'Required' | translate}}</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label for="email">{{'Email' | translate}}</label>
          <input type="email" id="email" name="email" class="form-control" ng-model="vm.credentials.email" placeholder="" lowercase required>
          <div ng-messages="vm.userForm.email.$error" role="alert">
            <p class="help-block error-text" ng-message="required">{{'Required' | translate}}</p>
            <p class="help-block error-text" ng-message="email">
            {{'Emailaddressisinvalid' translate}}  
            </p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label for="username">{{'Username' | translate}}</label>
          <input type="text" id="username" name="username" class="form-control" ng-model="vm.credentials.username" placeholder="" lowercase required>
          <div ng-messages="vm.userForm.username.$error" role="alert">
            <p class="help-block error-text" ng-message="required">{{'Required' | translate}}</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label for="password">{{'Password' | translate}}</label>
            <input type="password" id="password" name="password" class="form-control" ng-model="vm.credentials.password" placeholder="" uib-popover="{{vm.getPopoverMsg()}}" uib-popover-trigger="focus" password-validator required>
          <div ng-messages="vm.userForm.password.$error" role="alert">
            <p class="help-block error-text" ng-message="required">{{'Required' | translate}}</p>
            <div ng-repeat="passwordError in passwordErrors">
              <p class="help-block error-text" ng-show="vm.userForm.password.$error.requirements">{{passwordError}}</p>
            </div>
          </div>
        </div>
        <div class="form-group" ng-show="!vm.userForm.password.$error.required">
          <label>{{'PasswordRequirements' | translate}}</label>
          <uib-progressbar value="requirementsProgress" type="{{requirementsColor}}"><span style="color:white; white-space:nowrap;">{{requirementsProgress}}%</span></uib-progressbar>
        </div>
        <div class="text-center form-group">
          <button type="submit" class="btn btn-primary">{{'Submit' | translate}}</button>
          &nbsp; or&nbsp;
          <a ui-sref="authentication.signin" class="show-signup">{{'Signin' | translate}}</a>
        </div>
        <div ng-show="vm.error" class="text-center text-danger">
          <strong ng-bind="vm.error"></strong>
        </div>
      </fieldset>
    </form>
  </div>
</div>
